.make-an-appointment-button-wrapper {
    .make-an-appointment-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 14px;
    }
}