$body-font-family: "Lato", sans-serif;
$heading-font-family: "Roboto", sans-serif;

$main-color: #0cb8b6;
$body-color: #525252;
$heading-color: #001430;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-radius: 4px;

.doctor-list {
    .doctor-list-slide {
        .swiper-wrapper {
          align-items: center;
        }

        .swiper-button-prev,
        .swiper-button-next {
            &::after {
              color: $main-color;
              font-size: 30px;
            }
        }
    }

}