$body-font-family: "Lato", sans-serif;
$heading-font-family: "Roboto", sans-serif;

$main-color: #0cb8b6;
$body-color: #525252;
$heading-color: #001430;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-radius: 4px;


.blog-widget-area {
    .widget {
      margin-top: 35px;
      background-color: $white-color;
      box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
      .post-wrap {
        padding: 20px;
      }
      &:first-child {
        margin-top: 0;
      }
      .widget-title {
        text-transform: capitalize;
        position: relative;
        font-size: 20px;
        margin-bottom: 0;
        background-color: #ececec;
        padding: 10px 20px;
        color: $heading-color;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
          background-color: $main-color;
        }
      }
    }
    .widget_search {
      .search-form {
        position: relative;
        label {
          display: block;
          margin-bottom: 0;
        }
        .screen-reader-text {
          display: none;
        }
        .search-field {
          background-color: transparent;
          height: 50px;
          padding: 6px 15px;
          border: 1px solid #eeeeee;
          width: 100%;
          display: block;
          outline: 0;
          transition: 0.5s;
          &:focus {
            border-color: $main-color;
          }
        }
        button {
          position: absolute;
          right: 0;
          outline: 0;
          bottom: 0;
          height: 50px;
          width: 50px;
          border: none;
          color: $white-color;
          background-color: $main-color;
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            background-color: $heading-color;
          }
        }
      }
    }
    .widget-peru-posts-thumb {
      position: relative;
      overflow: hidden;
      .item {
        overflow: hidden;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #efefef;
        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
          padding-bottom: 0;
        }
        .thumb {
          float: left;
          width: 80px;
          height: 80px;
          overflow: hidden;
          position: relative;
          margin-right: 15px;
          .fullimage {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
          }
          .fullimage.bg1 {
            background-image: url(/img/blog-details/popular-posts-1.png);
          }
          .fullimage.bg2 {
            background-image: url(/img/blog-details/popular-posts-2.png);
          }
          .fullimage.bg3 {
            background-image: url(/img/blog-details/popular-posts-3.png);
          }
          .fullimage.bg4 {
            background-image: url(/img/blog-details/popular-posts-4.png);
          }
        }
        .info {
          overflow: hidden;
          span {
            display: block;
            color: #666666;
            text-transform: uppercase;
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 12px;
            font-weight: 500;
          }
          .title {
            margin-bottom: 0;
            line-height: 1.5;
            font-size: 14px;
            font-weight: 600;
            a {
              display: inline-block;
              color: #474c40;
              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }
    .widget_recent_entries {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          position: relative;
          margin-bottom: 12px;
          color: #666666;
          padding-left: 17px;
          line-height: 1.5;
          font-size: 15px;
          font-weight: 600;
          &:last-child {
            margin-bottom: 0;
          }
          &::before {
            background: $main-color;
            position: absolute;
            height: 7px;
            width: 7px;
            content: "";
            left: 0;
            top: 7px;
          }
          .post-date {
            display: block;
            font-size: 13px;
            color: #666666;
            margin-top: 4px;
          }
        }
      }
    }
    .widget_categories {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 10px;
          color: #666666;
          padding-left: 20px;
          font-size: 15px;
          font-weight: 600;
          border-bottom: 1px solid #efefef;
          &:last-child {
            margin-bottom: 0;
            border-bottom: none;
          }
          &::before {
            background: $main-color;
            position: absolute;
            height: 10px;
            width: 10px;
            content: "";
            left: 0;
            top: 7px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          }
          a {
            display: block;
            color: #666666;
            font-weight: normal;
            font-size: 14px;
            span {
              float: right;
              font-size: 13px;
            }
            &:hover {
              color: $main-color;
            }
          }
          .post-count {
            float: right;
          }
        }
      }
    }
    .widget_meta {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          position: relative;
          padding-bottom: 10px;
          margin-bottom: 10px;
          color: #666666;
          padding-left: 17px;
          font-size: 15px;
          font-weight: 500;
          border-bottom: 1px solid #efefef;
          a {
            color: $body-color;
            &:hover {
              color: $main-color;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
          &::before {
            background: $main-color;
            position: absolute;
            height: 10px;
            width: 10px;
            content: "";
            left: 0;
            top: 8px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          }
        }
      }
    }
    .widget_tag_cloud {
      .widget-title {
        margin-bottom: 0;
      }
    }
    .tagcloud {
      a {
        display: inline-block;
        color: #666666;
        font-weight: normal;
        font-size: 14px !important;
        padding: 7px 10px;
        border: 1px dashed #eeeeee;
        margin-top: 10px;
        margin-right: 10px;
        text-transform: capitalize;
        &:hover {
          background-color: $main-color;
          color: $white-color;
        }
        &:focus {
          background-color: $main-color;
          color: $white-color;
          border-color: $main-color;
        }
      }
    }
    .widget_services_list {
      ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.04);
        background-color: $white-color;
        li {
          a {
            display: block;
            position: relative;
            border-bottom: 1px solid #eeeeee;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 35px;
            color: #5d6576;
            z-index: 1;
            font-weight: 500;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 0;
              height: 100%;
              background: #252920;
              transition: 0.5s;
              opacity: 0;
              visibility: hidden;
            }
            i {
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
            }
            &:hover {
              background-color: $main-color;
              color: $white-color;
              padding-left: 20px;
              &::before {
                opacity: 1;
                visibility: visible;
                width: 5px;
              }
            }
          }
          a.active {
            background-color: $main-color;
            color: $white-color;
            padding-left: 20px;
            &::before {
              opacity: 1;
              visibility: visible;
              width: 5px;
            }
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
    .widget_download {
      ul {
        padding-left: 0;
        list-style-type: none;
        margin-bottom: 0;
        box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.04);
        background-color: $white-color;
        li {
          a {
            display: block;
            position: relative;
            border-bottom: 1px solid #eeeeee;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 35px;
            color: #5d6576;
            z-index: 1;
            font-weight: 500;
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              width: 0;
              height: 100%;
              background: #252920;
              transition: 0.5s;
              opacity: 0;
              visibility: hidden;
            }
            i {
              position: absolute;
              right: 15px;
              top: 50%;
              transform: translateY(-50%);
            }
            &:hover {
              background-color: $main-color;
              color: $white-color;
              padding-left: 20px;
              &::before {
                opacity: 1;
                visibility: visible;
                width: 5px;
              }
            }
          }
          a.active {
            background-color: $main-color;
            color: $white-color;
            padding-left: 20px;
            &::before {
              opacity: 1;
              visibility: visible;
              width: 5px;
            }
          }
          &:last-child {
            a {
              border-bottom: none;
            }
          }
        }
      }
    }
    .info time {
      font-size: 13px;
      color: #929292;
      display: block;
      margin-bottom: 4px;
    }
  }