.campaigns-popup-wrapper {
  width: 300px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  border-left: solid 9px #0cb8b6;
  position: fixed;
  left: 15px;
  bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 4;
  transition: all 0.3s ease;
}
.campaigns-popup-wrapper.show {
  opacity: 1;
  visibility: visible;
}
.campaigns-popup-wrapper.close {
  opacity: 0;
  visibility: hidden;
}
.campaigns-popup-wrapper .campaigns-popup-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.4rem;
  background-color: #ebebeb;
}
.campaigns-popup-wrapper .campaigns-popup-head .title-area {
  cursor: default;
}
.campaigns-popup-wrapper .campaigns-popup-head .title-area .title {
  display: flex;
  align-items: center;
  margin: 0;
}
.campaigns-popup-wrapper .campaigns-popup-head .title-area .title .title-icon {
  margin-right: 0.3rem;
}
.campaigns-popup-wrapper .campaigns-popup-head .title-area .sub-title {
  font-weight: 600;
  font-size: 13px;
  color: #0cb8b6;
  margin: 0;
}
.campaigns-popup-wrapper .campaigns-popup-body {
  height: 300px;
  overflow-y: scroll;
}
.campaigns-popup-wrapper .campaigns-popup-body::-webkit-scrollbar {
  background-color: #fff;
  width: 10px;
}
.campaigns-popup-wrapper .campaigns-popup-body::-webkit-scrollbar-thumb {
  background-color: #0cb8b6;
  border-radius: 50px;
}
.campaigns-popup-wrapper .campaigns-popup-body .items .item {
  cursor: default;
  border-bottom: solid 1px #0cb8b6;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}
.campaigns-popup-wrapper .campaigns-popup-body .items .item .item-title {
  color: #0cb8b6;
  font-size: 20px;
  margin: 0;
  margin-bottom: 0.2rem;
}
.campaigns-popup-wrapper .campaigns-popup-body .items .item .item-date {
  font-size: 12px;
  font-weight: 600;
}
.campaigns-popup-wrapper .campaigns-popup-body .items .item .item-date span {
  font-weight: 400;
}
.campaigns-popup-wrapper .campaigns-popup-body .items .item:hover {
  background-color: #e6e6e6;
}

@media screen and (max-width: 990px) {
  .campaigns-popup-wrapper {
    width: 280px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body {
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  .campaigns-popup-wrapper {
    width: 240px;
  }
  .campaigns-popup-wrapper .campaigns-popup-head {
    padding: 0.8rem 0.7rem;
  }
  .campaigns-popup-wrapper .campaigns-popup-head .title-area .title {
    font-size: 14px;
  }
  .campaigns-popup-wrapper .campaigns-popup-head .title-area .sub-title {
    font-size: 11px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body {
    height: 200px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body .items .item .item-title {
    font-size: 14px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body .items .item .item-date {
    font-size: 9px;
  }
}
@media screen and (max-width: 576px) {
  .campaigns-popup-wrapper {
    width: 200px;
  }
  .campaigns-popup-wrapper .campaigns-popup-head {
    padding: 0.5rem 0.6rem;
  }
  .campaigns-popup-wrapper .campaigns-popup-head .title-area .title {
    font-size: 13px;
  }
  .campaigns-popup-wrapper .campaigns-popup-head .title-area .sub-title {
    font-size: 10px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body {
    height: 160px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body .items .item .item-title {
    font-size: 13px;
  }
  .campaigns-popup-wrapper .campaigns-popup-body .items .item .item-date {
    font-size: 8px;
  }
}/*# sourceMappingURL=index.css.map */