$body-font-family: "Lato", sans-serif;
$heading-font-family: "Roboto", sans-serif;

$main-color: #0cb8b6;
$body-color: #525252;
$heading-color: #001430;
$white-color: #ffffff;
$black-color: #000000;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.5s;
$border-radius: 4px;

.input-wrapper {
    min-width: 100px;
    min-height: 35px;
    display: flex;
    position: relative;
  
    .input {
        width: 100%;
        border: solid 1px #e8e8e8;
        background-color: #F2F9FC;
        outline: none;
        border-radius: 5px;
        transition: all .3s ease;
  
        &.large {
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
    
        &:focus {
          border-color: $main-color;
          background-color: white;
        }
    
        &::placeholder {
          color: $main-color;
        }
    }

    &.search-input-wrapper {
        .input {
            padding-right: 2.5rem;
            padding-left: 2.5rem;
        }

        .icon-wrapper {
            position: absolute;
            left: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
          
        .icon {
            fill: $main-color;
            height: 25px;
        }
    }

    &.default-input-wrapper {
        .input {
            padding-right: 0.8rem;
            padding-left: 0.8rem;
        }
    }
}